{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    {% for category in categories %}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ category.title }}</h5>
            </div>
            {{ dump(category) }}
        </div>
    {% endfor %}
{% endblock %}
