@import "~tailwindcss/dist/base.css";
@import "~tailwindcss/dist/components.css";
@import "~tailwindcss/dist/utilities.css";

html {
    height: 100%;
}
body {
    background-color : lightgray;
    height: 100%;
}

//Modules
@import "modules/header";
