@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

body{
    background : $gray-300;
}

body{
    font-family: 'Libre Baskerville', serif;
    color: #4b4b4b;
}

h1, .navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}

h2{font-size: 2rem}
h3{font-size: 1.75rem}
h4{font-size: 1.5rem}
h5{font-size: 1.25rem}
h6{font-size: 1rem}
p{font-size: 1rem}
