<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app', null, 'front') }}
        {{ encore_entry_link_tags('js/app', null, 'front') }}
    {% endblock %}
</head>
<body>
<div>
    <Navbar config="{{ appNavbarConfig()|json_encode }}"></Navbar>
    {% block page_header %}
        <div class="header-backround-title">
            <div class="container"><h1>{% block page_title %}{% endblock %}</h1></div>
        </div>
    {% endblock %}
    <div class="container mt-5">{% include 'flash_messages.html.twig' %}{% block body %}{% endblock %}</div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('js/app', null, 'front') }}
{% endblock %}
</body>
</html>
