{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block page_title %}Tous les projets{% endblock %}

{% block body %}
    {% for project in projects %}
        <div class="app-card-index-projet">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <div class="card-subtitle mb-3">
                    <p class="card-text text-black-50">
                        {% if project.user.username is defined %}
                            <small> <i class="far fa-user"></i> {{ project.user.username }}</small>
                        {% endif %}
                        {% if project.createdAt is defined %}
                            <small>|</small>
                            <small><i class="far fa-calendar-plus"></i> {{ project.createdAt | date }}</small>
                        {% endif %}
                    </p>
                </div>
                <p class="card-text">{{ project.content }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
