{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block page_title %}Mon nouveau projet{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            {% include 'front/parts/_form.html.twig' with {"form": form, "btn": "Créer mon projet!" } %}
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a class="align-self-center" href="{{ path('project_user_index') }}">
                <i class="fas fa-chevron-left"></i> mes projects</a>
        </div>
    </div>
{% endblock %}
